.m3-explorer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    user-select: none;
    width: 15rem;
}

.m3-explorer-header {
    background-color: $color-white;
    border-bottom: 1px solid $color-gray-200;
    flex-shrink: 0;
    height: 3rem;
}

.m3-explorer-body {
    flex-grow: 1;
    overflow: auto;
    padding: 1.5rem 0.75rem;
    position: relative; /* do not remove, it's needed for dropdown positioning */
}

//**************
// items group *
//**************
.m3-explorer-items-group {
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

.m3-explorer-items-group-name-wrapper {
    align-items: center;
    display: flex;
    margin-bottom: 0.5rem;

    .m3-dropdown {
        padding: 0.5rem;

        .m3-form-field {
            margin-right: 0.5rem;
        }
    }
}

.m3-explorer-items-group-name {
    flex-grow: 1;
    font-family: $font-family-bold;
    font-size: 0.625rem;
    color: $color-gray-600;
    height: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.6;
    overflow: hidden;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    text-transform: uppercase;
    white-space: nowrap;
}

//*********
//  items *
//*********
.m3-explorer-items {
    &:not(:last-child) {
        border-bottom: 1px solid $color-gray-200;
        margin-bottom: 0.25rem;
        padding-bottom: 0.25rem;
    }
}

.m3-explorer-item-wrapper {
    > .m3-collapse {
        margin: 0.25rem 0 0 0.5rem;
    }

    &:not(:last-child) {
        margin-bottom: 0.25rem;
    }
}

.m3-explorer-item {
    display: flex;
}

.m3-explorer-item-expand {
    border-radius: $border-radius;
    color: $color-gray-600;
    flex-shrink: 0;
    height: 1.25rem;
    margin: 0.625rem 0 0 0.25rem;
    transition: background-color 200ms, color 200ms;
    width: 1.25rem;

    &:hover {
        background-color: $color-gray-200;
        color: $color-gray-800;
    }
}

.m3-explorer-item-name-wrapper {
    align-items: flex-start;
    border-radius: $border-radius;
    color: $color-gray-700;
    display: flex;
    flex-grow: 1;
    transition: background-color 200ms, color 200ms;

    &:hover,
    &.m3-loading,
    &.m3-focus,
    &.m3-active {
        background-color: $color-gray-200;
        color: $color-gray-800;
    }

    .m3-button {
        align-self: center;
        flex-shrink: 0;
        opacity: 0;
        transition: opacity 200ms;
    }

    &.m3-loading {
        .m3-explorer-item-icon {
            @include loading;
        }
    }

    &:hover,
    &.m3-focus {
        .m3-button {
            opacity: 1;
        }
    }

    &:hover,
    &.m3-active {
        .m3-explorer-item-icon {
            color: $color-gray-700;
        }

        .m3-explorer-item-input {
            > input {
                box-shadow: inset 0 -1px 0 $color-gray-400;
            }
        }
    }
}

.m3-explorer-item-icon {
    box-sizing: border-box;
    color: $color-gray-600;
    flex-shrink: 0;
    height: 2.5rem;
    transition: color 200ms;
    width: 2.125rem;
}

.m3-explorer-item-name,
.m3-explorer-item-input {
    flex-grow: 1;
    overflow: hidden;
    padding: 0.5rem;
    padding-left: 0;
    white-space: nowrap;
}

.m3-explorer-item-input {
    > input {
        background-color: transparent;
        border: 0;
        box-shadow: inset 0 -1px 0 $color-gray-300;
        box-sizing: border-box;
        font-family: $font-family-regular;
        font-size: 0.75rem;
        height: 1.5rem;
        padding: 0;
        transition: box-shadow 200ms;
        width: 100%;

        &:focus {
            outline: 0;
        }
    }
}

.m3-explorer-item-remove-confirm {
    background-color: $color-gray-100;
    border-top: 1px solid $color-gray-200;
    padding: 0.5rem 0.75rem;
    transition: margin-top 300ms;
    z-index: 1;

    &.m3-show {
        margin-top: -3rem;
        top: -1px;
    }
}
